@charset "UTF-8"
/*
CLASSE COM FUNDO BRANCO= background

CLASSE COM IMAGEM= backimage
*/

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    padding: 0px;
    margin: 0px;
}
p{
    font-size: 80px;
    padding-left: 30px;
    line-height: 2em;
       
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
    



}
header h1{
    padding-top: 40px;
    font-variant: small-caps;
    font-size: 140px;
}
header p{
    padding-bottom: 40px;
    font-size: 1.7em;
}
header a, footer, footer a{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: white;

}
a:hover{
    text-decoration: underline;
}

section{
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}
section.background{
    background-color: white;
    color: black;
    
}
section.backimage#img01{
    background: rgba(0, 0, 0, 0.281) url('../imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;
    
    
        
}
section.backimage#img02{
    background: rgba(0, 0, 0, 0.281) url('../imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
}

section.backimage > p{
    background-color: rgba(0, 0, 0, 0.26);
    min-width: 300px;
    max-width: 1000px;
    
}
footer{
    background-color: rgb(107, 106, 106);
}

footer p{
    color: black;
    font-size: 1.4em;
}
